<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%=form_tag appearances_path do%>
    name: <%=text_field_tag :name%>
    rating: <%=text_field_tag :rating%>
    <%=submit_tag%>
    <%end%>
  </body>
</html>
